<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greetings!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/ninjascript.js') }}"></script>
  </head>
  <body>
    <div id="container">
      <h1>Welcome to the Landing Page</h1>
      <ul>
        <li>Here is a list of things to do!</li>
        <li id= "dojo">Dojo</li>
        <li id="ninja">Ninjas</li>
        <li id"none">None</li>
      </ul>
    </div>
  </body>
</html>
