<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Information</title>
  </head>
  <body>
    <h2>Edit {{friend['first_name']}} {{friend['last_name']}} Information</h2>
    <form action='/friends/{{friend['id']}}' method='POST'>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" placeholder="First Name" value='{{friend['first_name']}}'>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" placeholder="First Name" value='{{friend['last_name']}}'>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" placeholder="First Name" value='{{friend['email']}}'>
      <button type="submit" name="add">Update</button>
    </form>
    <a href="/">Back</a>
  </body>
</html>
